// General styles
html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  font-family: $body-font;
  color: $text;
}

//index
.wrapper {
  main {
    position: relative;
    max-width: 45em;
    padding: 1em;
    margin: 0 auto;
  }

  _:-ms-input-placeholder,
  :root main {
    display: block;
  }

  .wrapper-title {
    margin-bottom: 0.25em;
    font-family: $header-font;
    font-size: calc(3em + 7vw);
    font-weight: bold;
    color: $accent;
  }

  .wrapper-subtitle {
    margin-bottom: 1em;
    font-size: calc(1em + 0.5vw);
    color: lighten($color: $text, $amount: 50%);
    text-transform: uppercase;
  }

  .wrapper-text {
    grid-area: wrapper-text;
    margin-bottom: 1em;
    line-height: 1.3;
    text-align: justify;
  }

  .wrapper-link {
    display: block;
    grid-area: wrapper-link;
    margin-bottom: 2em;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
  }

  .wrapper-image {
    grid-area: wrapper-image;
    width: 100%;
    min-width: 300px;
    height: 100%;
    object-fit: cover;
  }

  .wrapper-location {
    grid-area: wrapper-location;
    font-weight: bold;
    line-height: 1.5;
    text-transform: uppercase;
  }

  .wrapper-info {
    right: 1em;
    bottom: 1em;
    grid-area: wrapper-info;
    padding: 1em 2em;
    font-size: 100%;
    text-transform: uppercase;
    border: 0;
  }
}

//Grid layout for wide display
//Old browsers
@media (min-width: 1024px) {
  .wrapper-image {
    float: left;
    width: 60%;
    margin-right: 50px;
  }

  .wrapper-text {
    float: left;
    width: 60%;
  }
}

//Grid display
@supports (display:grid) {
  .wrapper {
    display: grid;
    grid-template-areas:
      "wrapper-title"
      "wrapper-subtitle"
      "wrapper-text"
      "wrapper-link"
      "wrapper-image"
      "wrapper-location"
      "wrapper-info";
    grid-gap: 20px;
    padding: 20px;
  }

  @media (min-width: 780px) {
    .wrapper {
      display: grid;
      grid-template-areas:
        "wrapper-image  wrapper-title"
        "wrapper-image  wrapper-title"
        "wrapper-image  wrapper-subtitle"
        "wrapper-image wrapper-text"
        "wrapper-image wrapper-info"
        "wrapper-location  wrapper-link";
      grid-template-columns: 1fr 1fr;
    }

    .wrapper-title {
      font-size: calc(2em + 5vw);
    }

    .wrapper-image {
      min-width: 350px;
    }
  }

  @media (min-width: 1280px) {
    .wrapper {
      display: grid;
      grid-template-areas:
        "wrapper-image  wrapper-title wrapper-subtitle"
        "wrapper-image  wrapper-title wrapper-subtitle"
        "wrapper-image   wrapper-text wrapper-text"
        "wrapper-location wrapper-info wrapper-link";
      grid-template-columns: 1fr 1fr 1fr;
    }

    .wrapper-title {
      font-size: calc(2em + 3.5vw);
    }

    .wrapper-subtitle {
      writing-mode: vertical-rl;
    }

    .wrapper-info {
      max-width: 300px;
      margin-top: 0.5em;
    }

    .wrapper-link {
      max-width: 250px;
    }
  }
}

// cartel
.cartel {
  @include alineado();

  h1 {
    font-family: $header-font;
    font-weight: bold;
    color: $accent;
  }
}

//contacto
.carousel {
  width: 75%;
  margin: 20px 12.5%;
}

.formulario {
  padding-bottom: 20px;
  margin: 5% 20%;
}

.formulario-boton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  padding-bottom: 20px;
}

//info
.presentation {
  padding: 2.5% 15%;
  margin-top: 0%;
  text-align: justify;
}

.presentation-image {
  width: 100%;
}

.blockquote {
  position: relative;
  padding: 0.5rem;
  margin-left: 3rem;
  font-style: italic;
  line-height: 1.4;
}

.blockquote-footer {
  text-align: right;
}

.blockquote::before,
.blockquote::after {
  position: absolute;
  width: 4rem;
  height: 4rem;
  font-size: 6rem;
  color: #f1efe6;
}

.blockquote::before {
  top: -1rem;
  left: -3rem;
  content: "“";
}

.blockquote::after {
  right: -3rem;
  content: "”";
}

//footer
.icon {
  padding-right: 0.5em;
  padding-left: 0.5rem;
}

//Flex
.flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  .flex-card {
    width: 100%;
    height: auto;
  }

  @media (min-width: 768px) {
    .flex-card {
      width: 25%;
    }
  }
}