// General styles
html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  font-family: $body-font;
  color: $text;
}



// cartel
.cartel {
  @include alineado();

  h1 {
    font-family: $header-font;
    font-weight: bold;
    color: $accent;
  }
}

//contacto
.carousel {
  width: 75%;
  margin: 20px 12.5%;
}

.formulario {
  padding-bottom: 20px;
  margin: 5% 20%;
}

.formulario-boton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  padding-bottom: 20px;
}

//info
.presentation {
  padding: 2.5% 15%;
  margin-top: 0%;
  text-align: justify;
}

.presentation-image {
  width: 100%;
}

.blockquote {
  position: relative;
  padding: 0.5rem;
  margin-left: 3rem;
  font-style: italic;
  line-height: 1.4;
}

.blockquote-footer {
  text-align: right;
}

.blockquote::before,
.blockquote::after {
  position: absolute;
  width: 4rem;
  height: 4rem;
  font-size: 6rem;
  color: #f1efe6;
}

.blockquote::before {
  top: -1rem;
  left: -3rem;
  content: "“";
}

.blockquote::after {
  right: -3rem;
  content: "”";
}

//Flex
.flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  .flex-card {
    width: 100%;
    height: auto;
  }

  @media (min-width: 768px) {
    .flex-card {
      width: 25%;
    }
  }
}